@charset "UTF-8";
@import "../css/func.scss";
@import "../css//base.scss";

.loading-modal-two {
  background: #ffff ;
  width: 100%;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .loading-modal-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -75%);
    .loading-modalimg {
      width: rem(442);
      height: rem(294);
      background-size: rem(442) rem(294);
    }
     .loading-modal-sure {
      font-size: rem(32);
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #11192B;
      text-align: center;
      margin-top: rem(32);
    }
    // :root p {
    //   display: inline-block;
    //   width: 1.5em;
    //   vertical-align: bottom;
    //   overflow: hidden;
    // }
    @-webkit-keyframes loading {
      0% { margin-right: 1.5em; }
      33% {  margin-right: 1em; }
      66% {  margin-right: .5em; }
      100% {  margin-right: 0;}
    }
    .sure {
      -webkit-animation: loading 3s infinite step-start;
    }
  
    @keyframes loading {
      0% { margin-right: 1.5em; }
      33% {  margin-right: 1em; }
      66% {  margin-right: .5em; }
      100% {  margin-right: 0;}
    }
    .sure {
      animation: loading 1s infinite step-start;
    }
  
  
  }
}
